.title {
  margin-top: 3rem;
  text-decoration: underline;
}

.container {
  margin: 5rem auto;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  font-size: large;
  flex-wrap: wrap;
  border-radius: 8px;
}

.form-control {
  font-size: large;
  border-radius: 8px;
  padding: 11px;
  margin: 0px 11px;
}

.button-div {
  display: inline-block;
  padding: 15px 25px;
  margin: 6rem;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button-div:hover {
  background-color: #3e8e41;
}

.button-div:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.mb-2 {
  display: block;
  font-size: larger;
  margin: 5px;
}

.content {
  text-align: center;
  justify-content: center;
}
